<div class="bg"></div>
<ons-page [transparent]="true" style="opacity: 0.8;" class="main-page">
  <ons-toolbar>
    <div class="center">信息统计</div>
  </ons-toolbar>
  <ons-list >
    <ons-list-title>更新于 {{now|date:'yyyy-MM-dd HH:mm:ss'}}</ons-list-title>
    <ons-list-item>
      <div class="bottle-grid">
        <ul>
          <li *ngFor="let bottle of bottles; let i = index"><app-bottle [value]="bottle.value" [color]="bottle.color" [label]="bottle.label"></app-bottle></li>
        </ul>
      </div>
    </ons-list-item>
  </ons-list>
  <app-chart [(ngModel)]="chartDataArr"></app-chart>
  <div class="card card-accent-info">
    <div class="card-body">
      <div class="mt-4">
      <div echarts [options]="optionsSalt" class="demo-chart"></div>
      </div>
    </div>
  </div>
  <div class="card card-accent-info">
    <div class="card-body">
      <div class="mt-4">
        <div echarts [options]="optionsDiet" class="demo-chart"></div>
      </div>
    </div>
  </div>
  <div class="card card-accent-info">
    <div class="card-body">
      <h4 class="card-title">健康小助手</h4>
      <div class="mt-4">
        {{healthTip}}
      </div>
    </div>
  </div>
</ons-page>
